@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,200;1,7..72,300;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--light_bck: rgb(241, 240, 234);
	--light_btn: hsl(var(--btn-h), var(--btn-s), 25%);
	--light_btn_hover: hsl(var(--btn-h), var(--btn-s), 15%);
	--light_txt: rgb(3, 0, 30);

	--dark_bck: rgb(4, 8, 15);
	--dark_btn: hsl(var(--btn-h), var(--btn-s), 50%);
	--dark_btn_hover: hsl(var(--btn-h), var(--btn-s), 35%);
	--dark_txt: rgb(241, 240, 234);

	

	--btn-h: 106; 
	--btn-s: 19%;
}

html, body {
	height: 100%;

	padding: 0;
	margin: 0;

	font-family: 'Roboto', sans-serif;
}

h1.logo {
	font-family: 'Literata', serif;
	font-weight: 300;
	letter-spacing: 5px; /*.2rem*/
}

h1.logo span {
	font-weight: 900;
}


a, button {
	transition: filter 0.3s ease;
	transition: background-color 0.3s ease;
}



/*Light/dark theme*/
.light, .light h1 {
	color: var(--light_txt);
}

.dark, .dark h1 {
	color: var(--dark_txt);
}

body.light {
	background-color: var(--light_bck);
}

body.dark {
	background-color: var(--dark_bck);
}

.light a {
	color: var(--light_btn);
}

.dark a {
	color: var(--dark_btn);
}

.light button {
	color: var(--dark_txt);
	background-color: var(--light_btn);
}

.light button:hover {
	background-color: var(--light_btn_hover);
}

.dark button {
	background-color: var(--dark_btn);
}

.dark button:hover {
	color: var(--dark_txt);
	border-color: var(--dark_btn_hover);
	background-color: var(--dark_btn_hover);
}

.light input {
	border-color: var(--light_btn);
}

.light input:focus {
	border-color: var(--light_btn_hover);
}

.dark input {
	color: white;
	border-color: var(--dark_btn);
	background-color: var(--dark_bck);
}

.dark input:active {
	border-color: var(--dark_btn_hover);
}



/*
.light :not(header) a:hover {
	color: hsl(var(--btn-h), var(--btn-s), 15%);
}

.dark :not(header) a:hover {
	color: hsl(var(--btn-h), var(--btn-s), 70%);
}
*/



