main {
    width: 100%;
    height: 80%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

form div {
    width: 100%;
    max-width: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2rem;
}

input, button {
    padding: .8rem;
    margin: .5rem 0; 

    border: none;
    outline: none;

    border: .12rem solid;
    border-radius: 10rem;

    font-size: 1rem;

    background-color: var(--light_bck);
}

input {
    padding-left: 2rem;
}

form a {
    font-size: 1rem;
    text-decoration: none;
}

form a:hover {
    font-weight: bolder;
}



#constraints {
    margin-top: 1rem;

    font-size: .8rem;
    text-align: center;
}

#constraints p {
    margin: 0;
    padding: 0;
}

