main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-login-register {
    width: 100%;
    max-width: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-login-register a {
    width: 90%;

    padding: 0.3rem;
    margin: .8rem;

    border: .12rem solid; 
    border-radius: 10rem;

    text-decoration: none;
    text-transform: lowercase;
    text-align: center;

    transition: background-color 0.3s ease;

    font-size: 1.5rem;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo h1 {
    font-size: 3rem;
}

footer {
    width: 100%;
    height: 1.5rem;

    position: absolute;
    bottom: 0;
}

footer a {
    margin-left: .5rem;
}





@media screen and (min-width: 768px) {
    .logo h1 {
        font-size: 8rem;
    }

    #container-login-register {
        max-width: 40rem;
        flex-direction: row;
    }

}

@media screen and (max-width: 320px) {
    .logo h1 {
        font-size: 2rem;
    }
}






/*Light/dark theme*/
.light #login {
    color: white;
    border-color: var(--light_btn);
    background-color: var(--light_btn);
}

.dark #login {
    color: black;
    border-color: var(--dark_btn);
    background-color: var(--dark_btn);
}

.light #login:hover {
    background-color: hsl(var(--btn-h), var(--btn-s), 15%);
    border-color: hsl(var(--btn-h), var(--btn-s), 15%);
}

.dark #login:hover {
    color: white;
    background-color: hsl(var(--btn-h), var(--btn-s), 35%);
    border-color: hsl(var(--btn-h), var(--btn-s), 35%);
}

.light #register:hover {
    color: white;
    background-color: var(--light_btn);
    border-color: var(--light_btn);
}

.dark #register:hover {
    color: white;
    background-color: var(--dark_btn);
    border-color: var(--dark_btn);
}

